[Unit]
Description=Screen led controller
After=network.target
startLimidIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=su - xavier -c 'export DISPLAY=:0;export XDG_RUNTIME_DIR=/run/user/1000; prismatik'

[Install]
WantedBy=multi-user.target
